@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__info__title {
  margin-bottom: -38px;
  font-family: "Lora";
  font-style: italic;
  color: rgba(0, 117, 20, 0.733);
  font-size: 2rem;
  font-weight: 700;
}
.header__info__sup {
  font-family: "Lora";
  font-style: italic;
  color: #a400aa96;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 40px;
}
.header__nav__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.header__nav__menu__element {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__nav__menu__element__lien {
  text-decoration: none;
}

.sectionCV {
  border: 2px solid #a400aa96;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 10px #a400aa96;
}
.sectionCV__title {
  margin-left: 5px;
  font-family: "Lora";
  font-style: italic;
  color: #a400aa96;
  font-size: 1.7rem;
  font-weight: 700;
}
.sectionCV__download {
  margin-left: 10px;
}
.sectionCV__download__lien {
  color: #000000;
  font-family: "Roboto";
  font-style: italic;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.actualite {
  margin: 10px;
}
.actualite__title {
  font-family: "Lora";
  font-style: italic;
  color: rgba(0, 117, 20, 0.733);
  font-size: 1.5rem;
  font-weight: 600;
}
.actualite__sup {
  font-family: "Roboto";
  font-style: normal;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}
.actualite__article {
  border: 2px solid #a400aa96;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 25px !important;
  box-shadow: 2px 2px 10px #a400aa96;
}
.actualite__article__title {
  font-family: "Lora";
  font-style: italic;
  color: #a400aa96;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px;
}
.actualite__article__sup {
  font-family: "Roboto";
  font-style: normal;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px;
}
.actualite__article__sup__lien {
  font-style: italic !important;
  font-weight: 600 !important;
  color: #000000;
}
.actualite__article__img {
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.footer {
  margin: -10px;
  padding-top: 10px;
  background: #646464;
}
.footer__title {
  margin: 10px;
  font-family: "Lora";
  font-style: italic;
  color: #00ff40;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
.footer__contact {
  margin: 10px;
}
.footer__contact__nom {
  font-family: "Roboto";
  font-style: normal;
  color: #f700FF;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: -18px;
}
.footer__contact__num {
  font-family: "Roboto";
  font-style: normal;
  color: #f700FF;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: -18px;
}
.footer__contact__mail {
  font-family: "Roboto";
  font-style: normal;
  color: #f700FF;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 15px;
}
.footer__contact__mail__lien {
  font-family: "Roboto";
  font-style: italic;
  color: #f700FF;
  font-size: 1rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
