.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__info {
        &__title {
            margin-bottom: -38px;
            @include logo($color-primary, 2rem, 700); 
        }
        &__sup {
            @include logo($color-secondary, 1.5rem, 500); 
            margin-left: 40px; 
        }
    }
    &__nav {
        &__menu {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            &__element {
                display: block;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                &__lien {
                    text-decoration: none;
                }
            }
        }
    }
}