@mixin logo($color, $size, $weight) {
    font-family: $logo;
    font-style: italic;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin text($color, $style, $size, $weight) {
    font-family: $text;
    font-style: $style;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}